/*
	Author: Jessica Pagan Sanchez
*/

@font-face {
    font-family: veron;
    src: url("../fonts/Veron.ttf");
}

.navbar {
	background-color: #fff;
}

.navbar-brand {
	font-size: 40px;
	font-family: veron;
}

.intro-section {
	background-image: url("../img/giphy.gif");
	background-size: cover !important;
	color: #fff;
	max-height: 600px;
}

.about-section {
	background-image: url("../img/city.jpg");
	background-size: cover;
	color: #fff;
}

.navbar-brand.page-scroll {
	color: #000;
	padding: 10px;
}

/*.navbar-nav > li > a, .navbar-brand {
    padding-top:0px !important; 
    padding-bottom:0 !important;
    height: 28px;
}*/
.navbar {
	min-height: 20px !important;
}

h1 {
	font-size: 80px;
	font-family: veron;
	font-weight: 900;
}

p {
	margin-top: 30px;
}

.container {
	
}
